.inputTitle {
    margin: 10px;
    font-size: 18px;
    color: #363636;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    animation: up 0.7s;
}

.inputBox {
    height: 50px;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: up 0.7s;
}

.inputBox img {
    width: 25px;
    margin: 0px 10px;
}

.inputBox input {
    width: calc(100% - 50px);
    height: 100%;
    padding: 0px;
    border: none;
    font-family: 'LINESeedKR-Rg';
    font-size: 17px;
    outline: none;
}

.bottomLine {
    width: calc(100% - 20px);
    transition: all 0.3s linear;
}

.nonBorder {
    width: 0px;
    height: 1.2px;
}

.bottomBlueBorder {
    width: 100%;
    height: 1.2px;
    background-color: #0046FF;
}

.orderText {
    font-size: 13px;
    margin: 10px;
    color:#0046FF;
    animation: up 0.7s;
}

@keyframes up {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0px);
    }
}