.ContentsFrame {
    width: calc(100% - 50px);
    height: calc(100vh - 90px);
    margin: 15px 25px;
    overflow-y: scroll;
}

.hasBtn {
    margin-top: 0px;
    margin-bottom: 0px;
    height: calc(100vh - 120px);
}

.transaction {
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    background-color: rgba(220, 220, 220, 0.3);
}